.service-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 12px;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(2, calc((100% - 12px) / 2));
  }

  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(3, calc((100% - 24px) / 3));
    padding-bottom: 64px;
  }

  @media screen and (min-width: 1280px) {
    grid-template-columns: repeat(3, calc((100% - 64px) / 3));
    gap: 32px;
    padding-bottom: 112px;
  }
}
