.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: clip;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    @media screen and (min-width: 768px) {
      width: 60.5%;
      flex-direction: row;
      align-items: center;
    }
  }

  .nav__button {
    width: 100%;

    @media screen and (min-width: 768px) {
      width: fit-content;
    }
  }
}
