.advantage-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 50px;
  background: var(--Greyscale-Black-80);
  margin: 0;
  padding: 36px;
  background: linear-gradient(#252532, #252532) 50% 50% / calc(100% - 2px)
      calc(100% - 2px) no-repeat,
    linear-gradient(90deg, rgba(255, 255, 255, 0.3) 0, transparent 100%);
  z-index: 5;
  align-items: flex-start;

  @media screen and (min-width: 768px) {
    padding: 42px 64px 54px;
  }
}
